/* Quote Section */
.quote-section {
  background: url('/public/img.webp') center/cover no-repeat;
  padding: 0px 0px;
  text-align: center;
  color: white;
}

.quote-content {
  max-width: 800px;
  margin: 0 auto;
  color: black;
}

.quote-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.quote-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* News Section */
.news-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f8f8f8;
}

.news-section h2 {
  color: #007BFF;
  margin-bottom: 10px;
}

.news-section h3 {
  margin-bottom: 30px;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adds space between cards */
}

.news-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  width: calc(50% - 40px); /* Adjusted to fit two cards per row */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.news-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.news-info {
  padding: 10px;
  flex-grow: 1;
}

.news-info p {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 10px;
}

.news-info h4 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.news-stats {
  display: flex;
  justify-content: space-between;
}

/* Contact Section */
.contact-section {
  text-align: center;
  padding: 50px 20px;
}

.contact-section h2 {
  color: #007BFF;
  margin-bottom: 10px;
}

.contact-section h3 {
  margin-bottom: 30px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-card {
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
    width: calc(10% - 20px); /* Ajuste del ancho */
    text-align: center;
  }
  
.contact-card h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

  
  /* Contact Section */
  .contact-section {
    text-align: center;
    padding: 50px 20px;
  }
  
  .contact-section h2 {
    color: #007BFF;
    margin-bottom: 10px;
  }
  
  .contact-section h3 {
    margin-bottom: 30px;
  }
  
  .contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contact-card {
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: calc(25% - 20px);
    text-align: center;
  }
  
  .contact-card h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  