body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.home-top-section {
    background-image: url('/public/doctor.jpeg');
    background-size: cover;
    background-position: center bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: relative;
}
.home-container {
    padding: 0 0px;
}

.home-section-title {
    color: #00aaff;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}

.home-main-title {
    color: #003366;
    font-size: 2rem;
    text-align: center;
}

.home-description {
    color: #666;
    font-size: 1rem;
    text-align: center;
    max-width: 800px;
    margin: 10px auto;
}

.home-learn-more-button, .home-view-all-button {
    display: block;
    margin: 0px auto;
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.home-button-link {
    color: #fff;
    text-decoration: none;
}

.home-button-container {
    margin-top: 400px;
    display: flex;
    justify-content: space-around; /* Distribuir uniformemente el espacio entre los botones */
}

.home-button-container button {
    padding: 30px 100px;
    font-size: 24px; /* Ajustar el tamaño de la fuente */
    background-color: #003366;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1; /* Hacer que los botones tengan el mismo tamaño */
    margin: 0 10px; /* Añadir separación horizontal entre botones */
}


.home-company-info {
    margin-left: 3%; /* Mover la sección de la compañía hacia la izquierda */
    z-index: 1; /* Asegurarse de que esté en la parte delantera */
    font-size: 40px;
}


.home-company-info button {
    padding: 30px 50px;
    background-color: #003366;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-button-container button:hover, .home-company-info button:hover {
    background-color: #005bb5;
}

.home-image-banner img {
    width: 100%;
    max-width: 1200px;
    display: block;
    margin: 20px auto;
}

.home-services-section {
    padding: 50px 20px;
    background-color: #fff;
    display: flex;
    text-align: center;
}

.home-services-list {
    width: 12%; /* Ocúpalo solo el 20% del ancho */
    flex-direction: column;
    margin-left:10% /* Centra el elemento horizontalmente */
}


.home-service-button {
    width: 200px; /* Ancho fijo para los botones */
    height: 150px; /* Alto fijo para los botones */
    font-size: 20px;
    color: black;
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 0px;
    margin: 0; /* Elimina los márgenes entre los botones */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.home-service-button:hover {
    background-color: #003366; /* Color de fondo al pasar el mouse */
    color: white; /* Cambia el color del texto a blanco */
    font-weight: bold; /* Hace el texto negrita */
}

.home-view-all-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.home-service-info {
    flex: 1; /* El 100% del ancho restante */
    /* Resto de estilos */
  }

  .home-service-img {
    margin-right: 5%; /* Espacio entre las imágenes y el contenido principal */
    display: flex;
    flex-direction: column; /* Mostrar las imágenes una encima de la otra */
    max-height: 600px; /* Altura máxima para evitar que las imágenes sobrepasen la sección */
    overflow: hidden; /* Ocultar cualquier parte de las imágenes que exceda la altura máxima */
}

.home-service-img img {
    width: auto; /* Permitir que el ancho se ajuste automáticamente */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
    max-height: 295px; /* Establecer la altura máxima de las imágenes */
    margin-bottom: 10px; /* Espacio entre las imágenes */
}
