.registro-container {
    display: flex; /* Activar flexbox en el contenedor principal */
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
    width: 65%;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden; /* Para asegurarnos de que la imagen no se desborde */
}

.company-photo {
    width: 50%;
    height: 300px;
    margin-top: 70px;
    background-image: url('/public/persona.jpg');
    background-size: cover;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.registro-form {
    width: 50%;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.registro-form h1 {
    color: #3b3e98;
    margin-top: 0;
}

.registro-form h4{
    color: #7073d5bc;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input,
.registro-button {
    width: 30rem;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font: bold;
    box-sizing: border-box;
}
.registro-form select.registro-button {
    width: calc(30rem + 2px); /* Ancho deseado */
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font: bold;
    box-sizing: border-box;
    background-color: white;
    color: #3b3e98;
    font-size: 16px;
}

.registro-form select.registro-button:hover {
    background-color: #f0f0f0;
}


.registro-button {
    width: calc(30rem + 2px);
    padding: 15px;
    background-color: #ffb30f;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.registro-button:hover {
    background-color: orange;
}

.social-login {
    text-align: right;
}

.social-buttons {
    margin-top: 10px;
    text-align: left
;}

.google-button,
.facebook-button {
    margin-right: 10px;
    padding: 15px 20px;
    height: 60px;
    width: 238px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.password-input {
    position: relative;
}

.password-input input {
    width: calc(100% - 100px); /* Ancho del input menos el botón */
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font: bold;
    box-sizing: border-box;
}

.password-input button {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px; /* Ancho del botón */
    height: 100%;
    padding: 15px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.password-input button:focus {
    outline: none;
}


.google-button {
    background-color: #dd4b39;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.facebook-button {
    background-color: #3b5998;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

