/* Home.css */

.top-section {
    background-image: url('/public/doctor.jpeg');
    background-size: cover;
    background-position: center bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: relative;
}

.button-container {
    margin-top: 27%;
    display: flex;
    justify-content: center;
}

.content-center button {
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.company-info button {
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }

.company-info h1{
    font-size: 3rem;
}

.company-info p{
    font-size:2rem;
}
  

.content-center button:hover {
    background-color: #45a049;
}

.button-container {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
}

.button-container button {
    margin: 0 10px; /* Aumenta el espacio entre los botones */
    padding: 40px 80px;
    background-color: #0A3D91;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    margin-right: 25%;
}


.button-container button:hover {
    background-color: #2f80a5;
}

/* Estilos para la sección de información y servicios */
.info-services-section h2 {
    font-size: 28px; /* Tamaño del encabezado */
    font-weight: bold; /* Texto en negrita */
    color: #333; /* Color del texto */
    margin-bottom: 20px; /* Espacio debajo del encabezado */
}

.info-services-section p {
    font-size: 18px; /* Tamaño del párrafo */
    color: #666; /* Color del texto */
    margin-bottom: 20px; /* Espacio debajo del párrafo */
}

.info-services-section ul {
    list-style: none; /* Quita los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
}

.info-services-section li {
    font-size: 16px; /* Tamaño del texto de la lista */
    color: #666; /* Color del texto */
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
}

/* Estilos para la sección de especialidades */
.specialties-section h2 {
    font-size: 28px; /* Tamaño del encabezado */
    font-weight: bold; /* Texto en negrita */
    color: #333; /* Color del texto */
    margin-bottom: 20px; /* Espacio debajo del encabezado */
}

.specialties-section p {
    font-size: 18px; /* Tamaño del párrafo */
    color: #666; /* Color del texto */
    margin-bottom: 20px; /* Espacio debajo del párrafo */
}

.specialties-section ul {
    list-style: none; /* Quita los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
}

.specialties-section li {
    font-size: 16px; /* Tamaño del texto de la lista */
    color: #666; /* Color del texto */
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
}

.staff-container {
    text-align: center;
    margin: 50px auto 30px; /* Centra el contenedor en la página y agrega un margen inferior de 30px */
    max-width: 80%; /* Establece el ancho máximo del contenedor al 80% del ancho de la página */
  }
  
  
  .staff-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .doctor-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px); /* Ancho para mostrar 3 tarjetas por fila con un margen entre ellas */
    box-sizing: border-box; /* Incluye el relleno y el borde en el ancho total */
  }
  
  .doctor-card img {
    width: 100%; /* Establece un ancho del 100% para que todas las imágenes ocupen el mismo tamaño */
    height: auto; /* Mantiene la proporción de aspecto */
    border-radius: 5px; /* Opcional: redondea las esquinas de la imagen */
  }
  
  
  
  .doctor-card h3 {
    margin-bottom: 10px;
  }
  
  .doctor-card p {
    margin: 0;
  }
  