.staff-top-section {
    position: relative;
    width: 100%;
    height: 300px; /* Altura reducida */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0px;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    background-color: #f0f0f0; /* Color de fondo */
  }
  
  .staff-top-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/staff.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.3; /* Ajusta la opacidad según tus necesidades */
    z-index: 1; /* Asegura que el contenido de la sección esté por encima de la imagen de fondo */
  }
  
  .company-info {
    position: relative; /* Asegura que el contenido esté por encima de la imagen de fondo */
    z-index: 2; /* Asegura que el contenido de la sección esté por encima de la imagen de fondo */
    text-align: center;
    color: black;
  }
  
  .company-info h1 {
    font-size: 3rem;
  }
  
  .company-info p {
    font-size: 1.5rem; /* Ajuste del tamaño del texto */
  }
  
  .staff-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .staff-container {
    text-align: center;
    margin: 50px auto 30px;
    max-width: 70%; /* Aumenta el ancho máximo del contenedor */
    background-color: #ffffff; /* Color de fondo */
    border-radius: 10px; /* Borde redondeado */
    padding: 20px; /* Espaciado interno */
  }
  
  .doctor-card {
    background-color: rgb(213, 222, 255);
    border: 1px solid #ddd;
    border-radius: 0px;
    margin: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    position: relative; /* Para posicionar los íconos y el botón */
    height: 600px; /* Incrementa la altura del contenedor */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Alinear elementos verticalmente */
  }
  
  .doctor-card img {
    width: 100%;
    height: 70%; /* Ajusta la altura de la imagen según sea necesario */
    border-radius: 0px;
  }
  
  .doctor-info {
    padding: 20px;
    text-align: center; /* Alinear el texto a la izquierda */
  }
  
  .doctor-info h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #0056b3;
  }
  
  .doctor-info p {
    margin: 5px 0;
    font-size: 1rem;
    color: #666;
  }
  
  .social-icons {
    margin: 10px 0;
    display: flex;
    justify-content: center; /* Alinear los íconos horizontalmente */
  }
  
  .social-icons a {
    margin: 0 5px;
    color: #0077b5; /* Color de LinkedIn */
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #005582; /* Color al pasar el cursor */
  }
  
  .view-profile-btn {
    padding: 20px 20px;
    border: none;
    border-radius: 0px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-bottom: 0px;
  }
  
  .view-profile-btn:hover {
    background-color: #0056b3;
  }
  